<div id="content-panel">
    <div id="forgetPasswordView">
        <!--Header-->
        <div class="content-header">
            <h3 class="corp-affairs" >
                <span></span><p data-bind="labelTemplate:['sub.forgot.your.password',label()]"></p></span></span></h3>
        </div>
      
        <ul class="r-user-info">
            <li class="r-label" data-bind="labelTemplate:['username',label()]"></li>
            <li class="r-fields">
                <input type="text" id="username" data-bind="value:forgetPasswordModel.username" />
            </li>
            <li>
                <span class="rc-left pull-left"><span class="rc-right">
                    <a tabindex="-1" href="javascript:void(0);"
                        id="forgetPassword-continue-btn" class="btnStyle" data-bind="labelTemplate:['continue',label()]"></a> 
                </span></span>
            </li>            
        </ul>
        <ul class="r-user-info">
            <li class="r-label" data-bind="labelTemplate:['click.to.contact.us',label()]"></li>
        </ul>
    </div>
</div>

<!-- Security Question Modal -->
<div id="secQuestionModal" class="modal hidden fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="color:Black">
    <div class="modal-header">
        <h4 data-bind="labelTemplate:['forgot.password',label()]"></h4>
    </div>
    <div class="modal-body">
        <ul class="r-user-info">
            <li class="r-label" data-bind="labelTemplate:['security.question',label()]"></li>
            <li class="r-fields">
                <select data-bind="options: viewModel.securityquestions, optionsText:'descr', optionsValue:'code', value:forgetPasswordModel.question"
                    disabled>
                </select>
            </li>
        </ul>
        <ul class="r-user-info">
            <li class="r-label" data-bind="labelTemplate:['security.answer',label()]"></li>
            <li class="r-fields">
                <input type="text" data-bind="customPlaceHolderTemplate:['security.answer',label()], value:forgetPasswordModel.answer" />
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <span class="rc-left pull-right"><span class="rc-right"><a tabindex="-1" href="javascript:void(0);"
            id="forgetPassword-cancel-btn" class="btnStyle" data-bind="labelTemplate:['cancel',label()]"></a></span>
        </span>
        &nbsp;
        <span class="rc-left pull-right"><span class="rc-right"><a tabindex="-1" href="javascript:void(0);"
            id="forgetPassword-submit-btn" class="btnStyle" data-bind="labelTemplate:['continue',label()]"></a></span>
        </span>
    </div>
</div>

<!-- Core Script -->
<script type="text/javascript" src="/Content/scripts/public/forgetPassword.js?v=10011323"></script>
