<div id="changePasswordView">

    <div id="left-panel">
        <div id="div-panel-top" class="panel-top">
            <span></span>
            <div>
            </div>
            <h2 data-bind="labelTemplate:['my.account',commonLabel()]"></h2>
        </div>
        <div id="div-panel-content" class="panel-content">
            <ul id="submenu">
                <li><a href="#!/myAccount" id="hpl-my-account" class="m" data-bind="labelTemplate:['my.account',commonLabel()]"></a></li>
                <li><a href="#!/ChangePassword" id="hpl-change-password" class="m selected" data-bind="labelTemplate:['change.password',commonLabel()]"></a></li>
            </ul>
        </div>
        <div id="div-panel-bottom" class="panel-btm">
            <span></span>
            <div>
            </div>
        </div>
    </div>
    <div id="content-panel">
        <div id="div-sign-up-form" class="sign-up-form form-wrapper">
            <form id="MainForm" action="" novalidate="novalidate">
            <div id="div-registration-window" class="r-window registration">
                <div id="div-registration-content" class="r-modal-contents">
                    <div class="r-left-panel">
                        <!-- Login Credentials start -->
                        <h2 data-bind="labelTemplate:['change.password',commonLabel()]"></h2>
                        <ul class="r-user-info">
                            <li class="r-label" data-bind="labelTemplate:['current.password',label()]"></li>
                            <li class="r-fields">
                                <input type="password" id="current-password"  data-bind="value:changePasswordModel.current"/>
                            </li>
                        </ul>
                        <ul class="r-user-info">
                            <li class="r-label" data-bind="labelTemplate:['new.password',label()]"></li>
                            <li class="r-fields">
                                <input type="password" id="new-password" data-bind="value:changePasswordModel.newpass"/>
                            </li>
                        </ul>
                        <ul class="r-user-info">
                            <li class="r-label" data-bind="labelTemplate:['confirm.new.password',label()]"></li>
                            <li class="r-fields">
                                <input type="password" id="confirm-new-password" data-bind="value:changePasswordModel.confirm"/>
                            </li>
                        </ul>
                        <div class="submit-panel">
                            <ul class="r-captcha-submit" style="background-color: transparent; margin: 20px 0 0 130px;">
                                <li class="r-submit"><a href="javascript:void(0);" class="btn3 btn_submit" id="changePassword-btn-submit" data-bind="labelTemplate:['change.password',label()]"></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="r-modal-footer">
                    <span></span>
                    <div>
                    </div>
                </div>
            </div>
            <div id="vld-title">
            </div>
            </form>
        </div>
    </div>
    <div class="clear">
    </div>
    <div class="clear-b">
    </div>

</div>

<!-- Core Script -->
<script type="text/javascript" src="/Content/scripts/Member/changePassword.js?v=10011323"></script>
