                                   <!--Login Division-->
                                   <div id="div-top-half" class="top-half">
                                        <div id="div-member-login" class="member-login">
                                            <div class="user-info" id="user-info">
                                                <ul id="preLogin" class="login-panel">
                                                    <li class="username">
                                                        <input type="text" class="login" id="txtNameMask" maxlength="20" data-bind="customPlaceHolderTemplate:['username',commonLabel()]" />
                                                    </li>
                                                    <li class="password">
                                                        <input type="password" class="login" id="txtPassMask" maxlength="20" data-bind="customPlaceHolderTemplate:['password',commonLabel()]" />
                                                    </li>
                                                    <li class="log-in-help"><a href="#!/ForgetPassword" class="ifpass w720 h260 question ryes icon" data-bind="titleTemplate:['forgot.password',commonLabel()]">?</a></li>
                                                    <li class="works"><a id="btnLogin" class="bnr join" href="#" data-bind="labelTemplate:['login',commonLabel()]"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="clear-b"></div>