<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>188BET </title>
    <meta name="robots" content="noindex" />
    <meta name="keywords" content="#" />
    <meta name="description" content="#" />
    <script language="javascript" type="text/javascript">
        var global = {rv:"10011323"};
    </script>
    <link rel="shortcut icon" href="/Content/Public/Images/Common/favicon.ico" type="image/x-icon" />
    <link href="/Content/Public/CSS/Common.css?v=10011324" rel="stylesheet" type="text/css" />
    <link href="/Content/Public/CSS/CustomUI.css?v=10011323" rel="stylesheet" type="text/css" />
    <link href="/Content/Public/CSS/Affiliates/Affiliates-User.css?v=10011323" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/Content/Public/Lib/jQuery/jquery-1.9.1.min.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/Lib/jQuery/jquery-migrate-1.0.0.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/Lib/jQuery/jquery-ui-1.10.1.min.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/knockout-2.2.1.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/knockout.validation.min.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/knockout.formatters.js?v=10011324"></script>
    <script type="text/javascript" src="/Content/libs/numeral.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/jquery.storage.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/jquery.ba-hashchange.min.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/pager.min.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/jquery.fileDownload.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/jquery.cookie.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/jquery.jclock.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/libs/autoNumeric.js"></script>
    <script type="text/javascript" src="/Content/Public/Lib/TemplateJS.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/Lib/jquery.marquee.min.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/Lib/jquery.jsonp.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/JS/Language/en-gb.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/JS/Common.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/JS/CommonControl.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/JS/CommonWidget.js?v=10011323"></script>
    <script type="text/javascript" src="/Content/Public/JS/doContents.js?v=10011323"></script>


    <link href="/Content/Public/CSS/Themes/black-theme.css?v=10011323" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript">
        var uv = { pd: JSON &&JSON.parse('{"theme":"black"}') };
        HomeJS.initShade();
    </script>
    <script type="text/javascript" src="/Content/Public/JS/browser-detection.js?v=10011323"></script>
    <script src="/Content/Public/JS/Index.js?v=10011323" type="text/javascript"></script>
   
   
    <!--Bootstrap Modal-->
    <link href="/Content/Public/Lib/PlugIn/bootstrap_modal/css/bootstrap.css?v=10011323" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Content/Public/Lib/PlugIn/bootstrap_modal/js/bootstrap.min.js?v=10011323"></script>

    <!-- Module Script -->
    <script type="text/javascript" src="/Content/scripts/util.js?v=10011321111"></script>
    <script type="text/javascript" src="/Content/scripts/Member/default.js?v=10011328"></script>

</head>
<body class="guest seasons no-financials affiliates">

    <!--Hidden Message-->
    <label id="siteTitle" class="hidden" data-bind="labelTemplate:['website.title',commonLabel()]"></label>
    <label id="confirm-logout-msg" class="hidden" data-bind="labelTemplate:['confirm.logout.msg',commonLabel()]"></label>
    <label id="fill-up-all-required-fields" class="hidden" data-bind="labelTemplate:['fill.up.all.required.fields.msg',commonLabel()]"></label>
    <label id="empty-weburl-msg" class="hidden" data-bind="labelTemplate:['empty.weburl.msg',commonLabel()]"></label>
    <label id="confirm-delete-msg" class="hidden" data-bind="labelTemplate:['confirm.delete.msg',commonLabel()]"></label>
    <label id="not-valid-email-msg" class="hidden" data-bind="labelTemplate:['not.valid.email.msg',commonLabel()]"></label>
    <label id="duplicated-msg" class="hidden" data-bind="labelTemplate:['duplicated.msg',commonLabel()]"></label>
    <label id="invalid-web-address-msg" class="hidden" data-bind="labelTemplate:['invalid.web.address.msg',commonLabel()]"></label>
    <label id="all" class="hidden" data-bind="labelTemplate:['all',commonLabel()]"></label>
    <label id="more-than-ten-email-msg" class="hidden" data-bind="labelTemplate:['more.than.ten.email.msg',commonLabel()]"></label>
    <label id="text-min-amount" class="hidden" data-bind="labelTemplate:['error.amount.must.greater.than.zero',commonLabel()]"></label>
    <!--<label id="error-min-usd" class="hidden" data-bind="labelTemplate:['error.usd.minimum.payment',commonLabel()]"></label>-->
    <label id="key-in-name" class="hidden" data-bind="labelTemplate:['key.in.name',commonLabel()]"></label>
     <label id="shadeWhite" class="hidden" data-bind="labelTemplate:['white',commonLabel()]"></label>
    <label id="shadeBlack" class="hidden" data-bind="labelTemplate:['black',commonLabel()]"></label>
    <label id="okayBtn" class="hidden" data-bind="labelTemplate:['okayBtn',commonLabel()]"></label>
    <label id="currentMonth" class="hidden" data-bind="labelTemplate:['current.month',commonLabel()]"></label>

<form action="">

    <div id="announcement-box" data-bind="visible: viewModel.Content()">
        <div class="an-flt">
            <div class="an-ttl-hdr" data-bind="labelTemplate:['BO_ANNOUNCE_MGNT',commonLabel()]"></div>
            <div id="marquee" class="marquee">
                <marquee onmouseover="this.stop();" onmouseout="this.start();" scrollamount="4">
                    <span id="impt-announcement"><span data-bind="html:viewModel.Content()"></span></span>
                </marquee>
            </div>
        </div>
    </div>

    <div id="theme-bg">
        <div id="page-holder">

            <div id="HeadContainer">
                <div id="header" class="fixed-width-holder">

                    <!--Logo-->
                    <div id="head-logo">
                        <a href="#!/" id="hpl-title" title="188BET">
                            <h1></h1></a>
                    </div>

                    <!--Top Half Division-->
                    <div id="div-top-half" class="top-half">
                        <div id="div-member-login" class="member-login">
                            <div id="user-info" class="user-info">
                                <div class="user-name">
                                    <ul id="postLogin">
                                        <li class="text"><span data-bind="labelTemplate:['welcome',commonLabel()]"></span> 
                                            <a href="#!/myAccount" id="hpl-my-account-top" class="iaccount ryes" data-bind="text : viewModel.Name"></a>| </li>
                                        <li class="text"><a href="#!/ChangePassword" id="hpl-change-password" class="iaccount ryes" data-bind="labelTemplate:['change.password',commonLabel()]"></a>|
                                        </li>
                                        <li class="text last"><a class="works bnr" id="btn-logout" href="javascript:void(0)" data-bind="labelTemplate:['logout',commonLabel()]"></a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clear-b"></div>

                    <!--Clock, Selection-->
                    <div id="div-bottom-half" class="bottom-half">
                        <div class="site-info-options">
                            <div class="time-wrapper">
                            </div>
                            <ul class="navs">
                                
                                
                                <li><a id="hpl-my-account-btm" href="#!/myAccount" data-bind="labelTemplate:['my.account',commonLabel()]"></a></li>

                            </ul>
                        </div>
                    </div>

                    <!--Main Navigation-->
                    <div id="div-main-nav" class="main-nav">
                        <ul id="main-items">
                            <li id="home"><a href="#!/Dashboard" class="home"></a></li>
                            <li id="creative"><a href="#!/Creative" class="creative"></a></li>
                            <li id="reports"><a href="#!/RefListing" class="reports"></a></li>
                            <li id="payment"><a href="#!/Payment" class="payment"></a></li>
                            <li id="announcement"><a href="#!/Announcement" class="announcement"></a></li>
                            <li id="subaffiliates"><a href="#!/SubAffiliate" class="subaffiliates"></a></li>
                        </ul>
                    </div>

                    <div class="clear-b">
                    </div>

                </div>
            </div>

            <!--Container-->
            <div id="container" class="fixed-width-holder">

                <!--Pager --->
                <!--My Account Content-->
                <div data-bind="page: {id: 'myAccount' , sourceCache: false , sourceOnShow: '/Views/Member/MyAccount.htm' , guard: isSessionExpired}">
                </div>
                <!--Change Password Content-->
                <div data-bind="page: {id: 'ChangePassword'  , sourceCache: false , sourceOnShow: '/Views/Member/ChangePassword.htm' , guard: isSessionExpired}">
                </div>
                <!--Creative Content-->
                <div data-bind="page: {id: 'Creative' , sourceCache: false , sourceOnShow: '/Views/Member/Creative.htm' , guard: isSessionExpired}">
                </div>
                <!--Dashboard Content-->
                <div data-bind="page: {id: 'Dashboard', role : 'start'  , sourceCache: false , sourceOnShow: '/Views/Member/Dashboard.htm' , guard: isSessionExpired}">
                </div>
                <!--Payment Content-->
                <div data-bind="page: {id: 'Payment'  , sourceCache: false , sourceOnShow: '/Views/Member/Payment.htm' , guard: isSessionExpired}">
                </div>
                <!--Announcement Content-->
                <div data-bind="page: {id: 'Announcement' , sourceCache: false, sourceOnShow: '/Views/Member/Announcement.htm' , guard: isSessionExpired}">
                </div>
                <!--Referral Listing-->
                <div data-bind="page: {id: 'RefListing' , sourceCache: false, sourceOnShow: '/Views/Member/Reports/RefListing.htm' , guard: isSessionExpired}">
                </div>
                <!--Referral Listing-->
                <div data-bind="page: {id: 'editMember' , sourceCache: false, sourceOnShow: '/Views/Member/EditMember.htm' , guard: isSessionExpired}">
                </div>

                <!--Summary of Company Win/Loss Based on Products-->
                <div data-bind="page: {id: 'WinLossProduct' , sourceCache: false, sourceOnShow: '/Views/Member/Reports/WinLossProduct.htm' , guard: isSessionExpired}">
                </div>
                <!--Affiliate Commision Report by Period-->
                <div data-bind="page: {id: 'AffCommissionByPeriod' , sourceCache: false, sourceOnShow: '/Views/Member/Reports/AffCommissionByPeriod.htm' , guard: isSessionExpired}">
                </div>
                <!--Affiliate Collateral Performance Report-->
                <div data-bind="page: {id: 'AffCollateral' , sourceCache: false, sourceOnShow: '/Views/Member/Reports/AffCollateral.htm' , guard: isSessionExpired}">
                </div>
                <!--Commision Payment Report-->
                <div data-bind="page: {id: 'AffCommissionPayment' , sourceCache: false, sourceOnShow: '/Views/Member/Reports/AffCommissionPayment.htm' , guard: isSessionExpired}">
                </div>
                <!--Contact Us-->
                <div data-bind="page: {id: 'ContactUs' , sourceCache: false, sourceOnShow: requireCdnView('ContactUs') , guard: isSessionExpired}">
                </div>
                <!--Sub Affiliate-->
                <div data-bind="page: {id: 'SubAffiliate' , sourceCache: false, sourceOnShow: '/Views/Member/SubAffiliate.htm' , guard: isSessionExpired}">
                </div>
                <!--Error Page-->
                <div data-bind="page: {id: '?' , sourceCache:true, sourceOnShow: requirePublicView('PageNotFound') , guard: isSessionExpired}"></div>

                <div class="clear-b"></div>
            </div>

            <div class="pl-shadow"></div>
            <div class="clear-b"></div>
        </div>
    </div>

    <!--Footer-->
    <div id="footer" class="no-guoneiyinhang no-chinadebit no-lbt no-weibo no-qq no-t163 no-sohu no-twitter ">
        <div id="partnerLogo" style="text-align: center;">
            <span style="font-weight: 700;" data-bind="labelTemplate: ['partner.wigan.gloucestershire', commonLabel()]">
            </span>
            <br />
            <br />
            <a href="https://www.wiganwarriors.com" id="hpl-partner-wiganwarriors" target="_blank"><img src="/Content/imgs/Common/wiggan-footer-white.png" alt="partner-logo" /></a>           
            <br />
            <br />
        </div>
        <p data-bind="labelTemplate:['footer',commonLabel()]"></p>
        <div class="clear-b"></div>
    </div>
</form>
</body>
</html>
